div {
  display: block;
}


.formRadio label {
  /* display:none; */
  display:inline-block;
  cursor: pointer;
  outline: 0; 
  width: 75px;
  
  height: 75px;
  background-image: url("../sprites/form-elements-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -99999px;
  background: blue;
}



Create a custom checkbox
input type[radio] {
    display:inline-block;
    cursor: pointer;
    outline: 0; 
    width: 128px;

    height: 128px;
    background-image: url(/comps/custom-form-elements.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -99999px;
  }
